<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel='stylesheet' href='../style.css'/> -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script type="text/javascript" href="../js/handlebars"></script>

  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="blue-grey darken-2">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Potterverse API</a>
        </div>
      </nav>
    </div>
    <div class="container-fluid" style='width:100%'>
      {{{body}}}
    </div>

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
