<!DOCTYPE html>
<html>
<head>
  <title>Potterverse API</title>

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="navbar-fixed">
    <nav class="green darken-4">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Welcome to the Potterverse API</a>
      </div>
    </nav>
  </div>
  <div class="container-fluid" style='width:100%'>
    {{{body}}}
  </div>

  <footer class="page-footer green darken-4">
    <div class="footer-copyright">
      <div class="container">
        © 2019 Slytherin
      </div>
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>
</body>
</html>
