<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel='stylesheet' href='../style.css'/> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="blue-grey darken-2">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Potterverse API</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">home</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/">Home</a></li>
            <li><a href="/characters">Characters</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-fluid" style='width:100%'>
      {{{body}}}
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
     $(".button-collapse").sideNav();
    </script>
  </body>
</html>
