<div class="container">
  <h4>Character Detail Page</h4>
  <div class="row">
    <div class="col s12">
      {{#each character}}
      <h4>{{c_first}} {{c_last}}</h4>
      <p>House: {{c_house}}</p>
      <p>Description: {{c_desc}}</p>
    {{/each}}
  </div>
  </div>
</div>
